.offcanvas {
  position: fixed;
  height: 100%;
  width: 250px; /* Set initial width */
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Initially hidden */
}

body {
  overflow: scroll;
}

.nav-link {
  color: white;
}

.navbar {
  height: 60px;
}
.h3 {
  text-align: center;
  justify-content: center;
}
/* Media queries for responsiveness */

@media (max-width: 992px) {
  .offcanvas {
    width: 100%; /* Occupy full width on smaller screens */
    left: 0; /* Position it on the left */
    transform: translateX(0); /* Make it visible */
  }

  /* Other adjustments for smaller screens as needed (e.g., font sizes, spacing) */
}
